<!-- eslint-disable vue/multi-word-component-names -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechOne</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/LoginStyle.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
</head>
<body class="bg-color"> 
 
    
    <div class="d-flex justify-content-center mt-5 mb-5" >
      <!-- <div class="wrapper" id="TechOneLogin">
        <a href="../index.html"  style="text-decoration:None; color:black;"><span>TechOne</span></a>
      </div> -->
      <div class="logo">
        <a href="../index.html"><img src="../images/Techone Logo.png" alt="HTML tutorial"  style="height: 85%; width:20%;border-radius:2%; margin-left: 40%;"></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
     
   
    </div>
    <div class="card card-center rounded" style="background-color: #eaebedae;">
      <div class="card-body">
        <p class="d-flex justify-content-center" style="margin-top:20px;font-size: larger; font-weight:500;">Login in to TechOne</p>
        <form>
          <div class="group">      
            <input type="text" class="ms-1" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name or Email</label>
          </div>
            
          <div class="group">      
            <input type="text" class="ms-1"  required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
        </form>
       
        <p class="d-flex text-body-2 ms-4 margin-bottom">Forget Password?</p>
        <div class="text-center">
          <button class="btn btn-primary LOGIN-btn">LOGIN</button>
        </div>
      </div>
    </div>

       
</body>
</html> 
  

<script>

</script>

