<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TechOne</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/CommonStyle.css">
  

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bootslander
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="../index.html"><img src="../images/Techone Logo.png" alt="HTML tutorial"
            style="height: 100%; width:100%;border-radius:2%;"></a>
      </div>
      <nav id="navbar" class="navbar" class="navbar-mobile">
       

        <ul>
          <li><a class="route-a" href="../views/About.html ">About us</a></li>
          <li class="dropdown"><a href="../views/StoryBoardProducts.html" class="text-nowrap"> Products<i
            class="bi bi-chevron-right"></i></a>
        <ul>
          <a href="../views/StoryboardCRM.html" class="text-nowrap">Storyboard CRM </a>
          <a href="../views/Storyboardhr.html" class="text-nowrap">Storyboard HR</a>
          <a href="../views/StoryboardPurchase.html" class="text-nowrap">Storyboard Purchase</a>
          <a href="../views/StoryBoardProducts.html#StoryboardAsset" class="text-nowrap">Storyboard Asset</a>
          <a href="../views/WhatsAppOrder.html" class="text-nowrap">WhatsApp Ordering Systems</a>
        </ul>
      </li>
      <li class="dropdown"><a href="../views/CloudIt.html"><span> Services</span> <i class="bi bi-chevron-right"></i></a>
        <ul>
         <a href="../views/ConsultingServices.html" class="text-nowrap">Consulting Services</a>
         <a href="../views/websitedesign.html" class="text-nowrap">Website Design</a>
         <a href="../views/Ecommerce.html" class="text-nowrap">Ecommerce Website</a>
         <a href="../views/CloudIt.html#Cloud Services" class="text-nowrap">Cloud Services</a>
         <a href="../views/CloudIt.html#Google" class="text-nowrap">Microsoft Solutions</a>
         <a href="../views/CloudIt.html#GoogleAds" class="text-nowrap">Virtual Tech Team</a>
        </ul>
      </li>
      <li><a class="route-a" href="Blog.html">Blogs</a></li>
          <li><a class="route-a" href="../views/Contact.html">Contact Us</a></li>
          <li><a class="text-decoration: none;color: inherit;" href="../views/Login.html">Login</a></li>
         
       
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

   

    <!-- <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg> -->

  </section>
 
<!-- style="background-image: url(../images/Hr_bg-img.png);border-radius: 1%;" -->
<section style="background-image: url(../images/Hr_bg-img.png);" >
<div class="container">
    <div class="row">
    
      
        <div class="col-lg-7  box-Hr" style="text-align:justify; font-weight: 400;font-size: large; border-radius: 8px;  box-shadow: rgba(120, 118, 118, 0.35) 0px 5px 15px;padding-top: 3%;padding-left: 2%;padding-bottom: 1%;padding-right: 3%;margin-left: 0%;background-color: rgb(255, 255, 255);margin-top: 0%; ">
          <div class="section-title" style="text-align: left;margin-top: -3%;">
            <p >Manage the entire life cycle of employee onboarding process with Storyboard HR</p>
            <h2 ></h2>
            <br>
          </div>  
          Storyboard HR is a popular tool for organizing and protecting employee data, and we are competent at putting it into action. We have designed to streamline, automate, and save time on many parts of a company's payroll and human resources operations.
            
            <div id="container" >
              <a href="https://storyboardsystems.com/">
              <button type="submit" style="color: rgb(12, 12, 116);">
              Learn More...
              </button>
              </a>
              <br><br>
             
            </div>

          </div>
          <div class="col-lg-5">
            

            </div>

</div>
</div>
</section>

<section>
  <div class="container clearfix ">
    <div class="center crm-banner" >  
      <img src="../images/HR-Banner.png" style=" height: 80%;width:80%; margin-left: 13%; border-radius: 8px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; " draggable="false">
  </div>
  </section>
  <!-- Start Intro -->
 
    <!-- End Intro -->
    <!-- Start Solutions -->
  
    <!-- End solution -->
     <!-- service section -->



  <!-- end service section -->
    <!-- ======= Features Section ======= -->
   
      
  <!-- ======= Team Section ======= -->
 

    <!-- client section -->

  

  <!-- end client section -->



<body>
    

    </div>
    <!-- <section style="margin-bottom: -5rem;">
      <div class="container">
          <div class="section-title" style="text-align: center;">
              <p >Benefits of Storyboard CRM</p>
              <h2 ></h2>
              <br>
            </div>
          <div>
  </section> -->
 
 
      
      <section class="Crm-features"     >
        <div class="container">
          <div class="row">
            <div class="col-lg-6 Crm_img">
              <img src="../images/HR_Solution.png" style=" height: 90%;width:85%; margin-left: 5%;margin-top: 8%;  " draggable="false">
            </div>
            <div class="col-lg-6">
              <div class="section-title" style="text-align: left;margin-left: 7;">
                <p >Benefits of Storyboard HR</p>
                <h2 ></h2>
                <br> 
              </div>
              <p style="font-weight: 400;font-size: larger;"> &#9678; &nbsp;Digitalized Process to minimize error</p>
               <p style="font-weight: 400;font-size: larger;">  &#9678; &nbsp;Reclaim critical time and focus on HR strategy</p>
               <p style="font-weight: 400;font-size: larger;">  &#9678; &nbsp;Centralized employee data and automatic payroll &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;generation</p>
             <br>
              </div>
             
            </div>
          </div>
        </section>
        <section style="background-color: aliceblue;">
          <div class="container">
            
                <div class="section-title" style="text-align: center;">
                  <p >The Features of our Storyboard HR</p>
                  <h2 ></h2>
                </div>
            </div>
            </div>
          </section>

      
        <section id="team" class="team section-bg" style="margin-top: -6%; background-color: aliceblue;">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
                <div class="service" data-aos-delay="0">
                  <div class="service-img" >
                    
                  </div>
                  <div class="service-info" >
                    <h4>HR Management</h4>
                    <br>
                    <span style="margin-bottom: 0%;">Manage, train and handle employees and their department transfers with an efficient and streamlined process</span>
                      <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/technicalArms.html">Read More</a> -->
                  </div>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                   
                  </div>
                  <div class="service-info">
                    <h4>Shift Management</h4>
                    <br>
                    <span>Plan, schedule, and coordinate to guarantee sufficient coverage and efficient operations</span>
                  <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/office365Migration.html">Read More</a> -->
                  </div>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                    
                  </div>
                  <div class="service-info">
                    <h4>
                      Attendance & Leave</h4>
                      <br>
                    <span>To Manage & Track records of employee absences, breaks, and clock-in and clock-out hours. biometric devices to reduce mistakes and enhance the procedure</span>
                    
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/cloudMigration.html">Read More</a> -->
                  </div>
                </div>
              </div>
      
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                   
                  </div>
                  <div class="service-info" >
                    <h4>Recruitment & onboarding</h4>
                    <br>
                    <span style="margin-top: -3%;">Identify, screen, shortlist, interview, choose, hire, and onboard employees with ease</span>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/office365Migration.html">Read More</a> -->
                  </div>
                </div>
              </div>
      
              
             
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                    
                  </div>
                  <div class="service-info">
                    <h4>
                      Performance Management</h4>
                      <br>
                    <span>KRA helps to achieve an employee’s Individual Goals<br><br><br></span>
                    
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/cloudMigration.html">Read More</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                    
                  </div>
                  <div class="service-info">
                    <h4>
                      Payroll Management</h4>
                      <br>
                    <span>Monitor bonuses, salaries, and deductions of employees</span>
                    
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/cloudMigration.html">Read More</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service"  data-aos-delay="0">
                  <div class="service-img">
                   
                  </div>
                  <div class="service-info">
                    <h4>Employee Self services</h4>
                    <br>
                    <span style="margin-top: -3%;">Employees can access HR-related activities directly through a company's web portal or mobile app</span>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/office365Migration.html">Read More</a> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="service" data-aos-delay="0">
                  <div class="service-img">
                    
                  </div>
                  <div class="service-info">
                    <h4>
                      Exit Management</h4>
                      <br>
                    <span>Manage the full and final settlement of employees when they exit the organization </span>
                    
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="https://www.vcidex.com/cloudMigration.html">Read More</a> -->
                  </div>
                </div>
              </div>
    
    
      
            </div>
      
          </div>
        </section>
        <section>
          <div class="container">
            
                <div class="section-title" style="text-align: center;">
                  <p >Why Storyboard HR?</p>
                  <h2 ></h2>
                </div>
            </div>
            </div>
          </section>
          <section id="features" class="CRM-features" style="margin-top: -6%;">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 mt-4 mt-md-0">
                  <div class="icon-box" data-aos-delay="50">
                    <i class="bi bi-shield-fill-minus" style="color: #0a2889;"></i>
                    <h3><a href="">Restrict illegal access to data</a></h3>
                  </div>
                </div>
            
                  
                  
                    <div class="col-lg-6 mt-4 mt-md-0 ">
                      <div class="icon-box" data-aos-delay="50">
                        <i class="bi bi-calendar-check" style="color:#e2df27 ;"></i>
                        <h3><a href="">Real-time data access and analysis of employee performance</a></h3>
                      </div>
                    </div>
                   
                    <div class="col-lg-6 mt-4">
                      <div class="icon-box" data-aos-delay="50">
                        <i class="bi bi-clock-history" style="color:#ab0f0f ;"></i>
                        <h3><a href="">Accurate record-keeping helps with reporting and legal documentation</a></h3>
                      </div>
                    </div>
                    <div class="col-lg-6 mt-4 ">
                      <div class="icon-box" data-aos-delay="50">
                        <i class="bi bi-pc-display" style="color: #2bab0b;"></i>
                        <h3><a href="">Employee self-service</a></h3>
                      </div>
                    </div>
              </div>
              </div>
            </section>


 
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>TechOne</h3>
              <!-- <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p> -->
              <p>
                The Old Courthouse, <br>2nd floor Hughenden Road, <br>High Wycombe, UK, HP13 5DT<br><br>
                <strong>Phone:</strong> + 447786712459<br>
                <strong>Email:</strong> info@TechOne.services<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.instagram.com/storyboard_systems?igsh=MTIxejkzOTl3amRlbA==" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/100503597/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <a href="https://www.facebook.com/storyboardsystems/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="https://x.com/Storyboardsys?t=8aysd7jCIpw7Aux4CMo2sg&s=09" class="twitter" target="_blank"><i class="bi bi-twitter-x fs-6"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/About.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Services.html">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/StoryboardProducts.html">Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Blog.html">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Contact.html">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Services.html#StoryboardProducts">Storyboard Products</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Services.html#Enterprise">Enterprise Resource Planning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Services.html#Consulting">IT Consulting Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../views/Services.html#MicrosoftService">Microsoft services</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <h6>Build your Business with Storyboard Systems like a Pro</h6>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright©2024 <strong><span>TechOne Services</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        <!-- Powered by <a href="https://vcidex.com/">Vcidex Solutions</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>



<style>
  /* ----------------------------------------------------------------
	Counter
-----------------------------------------------------------------*/


.skills li .progress-percent .counter {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
.counter {
	font-size: 42px;
	font-weight: 600;
    text-align: center;
	font-family: 'Raleway', sans-serif;
}

.counter.counter-small { font-size: 28px; }

.counter.counter-large { font-size: 56px; }

.counter.counter-xlarge {
	font-size: 64px;
	font-weight: 400;
}

.counter.counter-inherit {
	font-size: inherit;
	font-weight: inherit;
}

.counter + h5 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}

.counter.counter-lined + h5:before {
	display: block;
	position: relative;
	margin: 20px auto 25px auto;
	content: '';
	width: 15%;
	border-top: 2px solid #444;
	opacity: 0.9;
}

.counter.counter-small + h5 { font-size: 13px; }

.counter.counter-large + h5,
.counter.counter-xlarge + h5 {
	font-size: 15px;
	font-weight: 300;
}

.widget .counter + h5 { opacity: 0.7; }
</style>

</html>